.main__header {
  background: #f8f3f4;
  padding: 60px;
  color: #636363;
}

.main__header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__header__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.sub-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.card {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 22, 22, 0.7);
  z-index: 1;
}

.card-title {
  color: #ffffff;
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  text-transform: uppercase;
}

.card-img {
  position: relative;
}

.card-img img {
  max-width: 100%;
}

.card-img::before {
  content: '';
  position: absolute;
  background: #3a3838db;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  opacity: 0;
}

.card-img:hover .card-img-btn {
  opacity: 1;
}

.card-img:hover::before {
  opacity: 0.7;
}

.card-img-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  padding: 16px 12px 14px 12px;
  opacity: 0;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.8px;
  text-align: center;
}

.products {
  text-align: center;
}

.product-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-card {
  background: #f8f8f8;
}

.product__sort {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 134px;
}

.product__sort__filter__details {
  position: absolute;
  top: calc(50% - 17px);
  left: 0;
  padding: 17px 13px;
  z-index: 1;
}

.product__sort__filter__details__summary {
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  display: block;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  padding-bottom: 17px;
}

.product__sort__filter__details__summary::-webkit-details-marker {
  display: none;
}

.product__sort__filter__details__summary > svg {
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  height: 0.7rem;
  margin-right: 11px;
}

.product__sort__filter__details[open] > .product__sort__filter__details__summary {
  color: #f16d7f;
}

.product__sort__filter__details[open] > .product__sort__filter__details__summary > svg {
  fill: #f16d7f;
}

.product__sort__filter__details[open] {
  background: #fff;
  -webkit-box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}

.product__sort__filter__details__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.product__sort__filter__details__sidebar__details__summary {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: block;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
  padding: 8px 11px 11px;
}

.product__sort__filter__details__sidebar__details__summary::-webkit-details-marker {
  display: none;
}

.product__sort__filter__details__sidebar__details__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
  padding: 17px 24px;
}

.product__sort__filter__details__sidebar__details__options__option {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.product__sort__filter__details__sidebar__details__options__option:hover {
  color: #f16d7f;
}

.product__sort__filter__details__sidebar__details[open] > .product__sort__filter__details__sidebar__details__summary {
  color: #f16d7f;
}

.product__sort__select {
  position: absolute;
  left: 390px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  z-index: 1;
}

.product__sort__select__details {
  position: relative;
}

.product__sort__select__details__summary {
  display: block;
}

.product__sort__select__details__summary::-webkit-details-marker {
  display: none;
}

.product__sort__select__details__summary::after {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../img/sort-product.svg");
  background-repeat: no-repeat;
  height: 0.5rem;
  width: 1rem;
}

.product__sort__select__details__data {
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  top: 21px;
  right: -9px;
  min-width: 50px;
  -webkit-box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: #fff;
  padding: 9px;
}

.product__sort__select__details__data input {
  border: 1px solid #ebebeb;
}

.product-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 23.35px 28.8px 20px 16.46px;
  text-align: start;
  border: 1px solid #eaeaea;
  position: relative;
  background: #fff;
  top: -23px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}

.product__pagination {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  border: 1px solid #ebebeb;
  padding: 16px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}

.product__pagination__control {
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.product__pagination__control:hover {
  cursor: pointer;
  color: #f16d7f;
}

.product__pagination__page {
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  color: #c4c4c4;
}

.product__pagination__page:hover, .product__pagination__page.currant {
  color: #f16d7f;
  cursor: pointer;
}

h2.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-transform: capitalize;
}

h3.title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.products-footer {
  margin-top: 48px;
}

.product-button {
  border: 1px solid #f16d7f;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding: 15px 39px;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.product:hover {
  color: #ffffff;
  background: #f16d7f;
  cursor: pointer;
}

.advantages {
  background: #222224;
  color: #fbfbfb;
  min-height: 341px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.advantage-p {
  font-size: 13.97px;
  font-weight: 400;
  line-height: 16.77px;
}

.hidden {
  display: none;
}

@media (max-width: 1400px) {
  .section-header {
    gap: 39px;
    max-width: 769px;
  }
  .title-h1 {
    font-size: 44px;
    line-height: 52.8px;
  }
  .sub-title-h1 {
    font-size: 24px;
    line-height: 28.8px;
  }
  .banner {
    -ms-grid-rows: 167px 116px;
        grid-template-rows: 167px 116px;
    gap: 20px;
  }
  .products-footer {
    margin-top: 32px;
  }
  .product-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .product-data {
    padding-top: 25.35px;
  }
  .product__sort__select {
    left: auto;
    right: 0;
  }
  .product-sub-title {
    font-weight: 300;
  }
  .product-card:nth-last-child(1) {
    display: none;
  }
  .advantages__list {
    -ms-grid-columns: 360px;
        grid-template-columns: 360px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-block: 48px;
  }
  .advantage-p {
    font-weight: 300;
  }
}

@media (max-width: 736px) {
  .main__header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
  .section-header {
    max-width: 343px;
    min-height: 363px;
  }
  .title-h1 {
    font-size: 38px;
    line-height: 45.6px;
  }
  .sub-title-h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .banner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (247px)[3] 111px;
        grid-template-rows: repeat(3, 247px) 111px;
    gap: 32px;
  }
  .accessories {
    background-position: center;
  }
  .products-footer {
    margin-top: 40.61px;
  }
  .product__sort__filter__details__summary svg {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  .product__sort__filter__details__summary__text {
    display: none;
  }
  .product-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .product-sub-title {
    font-weight: 400;
  }
  .product-card:nth-child(even) {
    display: none;
  }
  .product-card:nth-child(odd) {
    display: block;
  }
  .advantages__list {
    gap: 46px;
  }
}
/*# sourceMappingURL=catalog.css.map */