.main__header {
  background: #f8f3f4;
  padding: 60px;
  color: #636363;
}

.main__header__wrapper {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__header__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.sub-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.card {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 22, 22, 0.7);
  z-index: 1;
}

.card-title {
  color: #ffffff;
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  text-transform: uppercase;
}

.card-img {
  position: relative;
}

.card-img img {
  max-width: 100%;
}

.card-img::before {
  content: '';
  position: absolute;
  background: #3a3838db;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  opacity: 0;
}

.card-img:hover .card-img-btn {
  opacity: 1;
}

.card-img:hover::before {
  opacity: 0.7;
}

.card-img-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  padding: 16px 12px 14px 12px;
  opacity: 0;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.8px;
  text-align: center;
}

.products {
  margin-top: 96px;
  text-align: center;
}

.product-list {
  display: -ms-grid;
  display: grid;
  margin-top: 47px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-card {
  background: #f8f8f8;
}

.product__main {
  padding: 8px;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__main__control {
  background: #d8d8d8;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 10px;
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.product__main__control:hover {
  color: #f16d7f;
}

.product__main__img {
  display: block;
  width: min(645px, 100%);
}

.product-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23.35px 28.8px 20px 16.46px;
  text-align: start;
}

.product-data__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.product-data__data__top {
  gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-data__data__title {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.product-data__data__line {
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
}

.product-data__data__sub-title {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.product-data__data__p {
  color: #5e5e5e;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  max-width: 555px;
}

.product-data__data__price {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.product-data__line {
  background-color: #f16d7f;
  height: 1px;
  width: min(645px, 90%);
  margin: 0 auto;
}

.product-data__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}

.product-data__filter__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

.product-data__filter__sort__elem {
  cursor: pointer;
}

.product-data__filter__sort__elem svg {
  width: 0.5rem;
  height: 0.5rem;
}

.product-data__filter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 24px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  outline: none;
  border: 1px solid #f16d7f;
  background: none;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.product-data__filter__btn svg {
  fill: #f16d7f;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  width: 2rem;
  height: 2rem;
}

.product-data__filter__btn:hover {
  background: #f16d7f;
  color: #fff;
}

.product-data__filter__btn:hover svg {
  fill: #fff;
}

h2.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-transform: capitalize;
}

h3.title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.products-footer {
  margin-top: 48px;
}

.product-button {
  border: 1px solid #f16d7f;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding: 15px 39px;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.product:hover {
  color: #ffffff;
  background: #f16d7f;
  cursor: pointer;
}

.advantages {
  background: #222224;
  color: #fbfbfb;
  min-height: 341px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.advantage-p {
  font-size: 13.97px;
  font-weight: 400;
  line-height: 16.77px;
}

.hidden {
  display: none;
}

@media (max-width: 1400px) {
  .section-header {
    gap: 39px;
    max-width: 769px;
  }
  .title-h1 {
    font-size: 44px;
    line-height: 52.8px;
  }
  .sub-title-h1 {
    font-size: 24px;
    line-height: 28.8px;
  }
  .banner {
    -ms-grid-rows: 167px 116px;
        grid-template-rows: 167px 116px;
    gap: 20px;
  }
  .products {
    margin-top: 109px;
  }
  .products-footer {
    margin-top: 32px;
  }
  .product-list {
    margin-top: 72px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .product-data {
    padding-top: 25.35px;
  }
  .product-sub-title {
    font-weight: 300;
  }
  .product-card:nth-last-child(1) {
    display: none;
  }
  .advantages__list {
    -ms-grid-columns: 360px;
        grid-template-columns: 360px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-block: 48px;
  }
  .advantage-p {
    font-weight: 300;
  }
}

@media (max-width: 736px) {
  .main__header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
  .section-header {
    max-width: 343px;
    min-height: 363px;
  }
  .title-h1 {
    font-size: 38px;
    line-height: 45.6px;
  }
  .sub-title-h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .banner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (247px)[3] 111px;
        grid-template-rows: repeat(3, 247px) 111px;
    gap: 32px;
  }
  .accessories {
    background-position: center;
  }
  .products {
    margin-top: 64px;
  }
  .products-footer {
    margin-top: 40.61px;
  }
  .product-list {
    margin-top: 64px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .product-sub-title {
    font-weight: 400;
  }
  .product-card:nth-child(even) {
    display: none;
  }
  .product-card:nth-child(odd) {
    display: block;
  }
  .advantages__list {
    gap: 46px;
  }
}
/*# sourceMappingURL=product.css.map */