* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lauto, sans-serif;
}

body {
  background-color: #f1e4e6;
}

.pink {
  color: #f16d7f;
}

._wrapper {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.header {
  background-color: #222222;
  min-height: 75px;
  align-content: center;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-item {
  display: flex;
  gap: 40px;
}

.header-right-item {
  display: flex;
  gap: 33px;
}

.header-button {
  background: none;
  border: none;
  :hover {
    cursor: pointer;
  }
}

.shop-menu {
  position: relative;
}

.shop-data {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: rgba(241, 109, 127, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  min-width: 14.4px;
  color: white;
}

.drop-menu {
  display: flex;
  position: absolute;
  right: 0;
  top: 58px;
  background-color: #fff;
  padding: 32px;
  gap: 20px;
	flex-direction: column;
}

.menu-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
}

.menu-sub-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.menu-links {
  list-style: none;
}

.menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  text-decoration: none;
  color: rgba(111, 110, 110, 1);
  margin-left: 21.5px;
}

.section-header {
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.right-header-list {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  text-transform: uppercase;
  color: #222222;
}

.title-h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
  text-align: left;
}

.sub-title-h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}

.banner {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  gap: 30px;
}

.card {
  position: relative;
  align-content: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 22, 22, 0.7);
  z-index: 1;
}

.for-woman {
  background-image: url("../img/woman.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.for-man {
  background-image: url("../img/man.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.for-kids {
  background-image: url("../img/kids.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.accessories {
  background-image: url("../img/accessories.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: -1;
}

.card-title {
  color: #ffffff;
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  text-transform: uppercase;
}

.sub-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.products {
  margin-top: 96px;
  text-align: center;
}

.product-list {
  display: grid;
  margin-top: 47px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

h2.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-transform: capitalize;
}

h3.title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.product-card {
  background: rgba(248, 248, 248, 1);
}

.card-img {
  position: relative;
}

.card-img::before {
  content: "";
  position: absolute;
  background: #3a3838db;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all ease-in-out 1s;
  opacity: 0;
}

.card-img:hover {
  .card-img-btn {
    opacity: 1;
  }
}
.card-img:hover::before {
  opacity: 0.7;
}

.card-img-btn {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  padding: 16px 12px 14px 12px;
  opacity: 0;
  transition: all ease-in-out 1s;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.8px;
  text-align: center;
}

.product-data {
  padding: 23.35px 28.8px 20px 16.46px;
  text-align: start;
}

.sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.products-footer {
  margin-top: 48px;
}

.product-button {
  border: 1px solid rgba(255, 106, 106, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  padding: 15px 39px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.product-button:hover {
  color: #ffffff;
  background: #f26376;
  cursor: pointer;
}

.body__footer {
  margin-top: 95px;
}

.advantages {
  background: #222224;
  color: #fbfbfb;
  min-height: 341px;
  align-content: center;
  text-align: center;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.advantage-title {
  margin-block: 16px;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 23.95px;
}

.advantage-p {
  font-size: 13.97px;
  font-weight: 400;
  line-height: 16.77px;
}

.subscribe {
  position: relative;
  max-width: 1600px;
  height: 448px;
  margin-inline: auto;
}

.subscribe__wrap {
  background-color: rgba(244, 244, 244, 0.7);
  height: 100%;
}

.subscribe::after {
  content: "";
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: left;
}

.subscribe__content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.subscribe__content__cite {
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.subscribe__content__cite-img {
  width: 96px;
  border-radius: 50%;
}

.subscribe__content__cite-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  max-width: 340px;
  font-style: italic;
}

.subscribe__content__form {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.subscribe__content__form-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(34, 34, 36, 1);
}

.subscribe__content__form-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 30.1px;
}

.subscribe__content__form-input {
  background: #e1e1e1;
  border: none;
  border-radius: 24px 0 0 24px;
  padding: 22px;
  width: 70%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.subscribe__content__form-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  padding: 22px;
  width: 30%;
  border: none;
  background: rgba(241, 109, 127, 1);
  border-radius: 0 24px 24px 0;
  color: white;
}

.footer__footer {
  height: 79px;
  background: rgb(34, 34, 36);
}

.footer__footer-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer__footer-content-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #fff;
}

.footer__footer-content-icon {
  padding: 9px;
  border: none;
  transition: all ease-in-out 1s;
  svg {
    path {
      transition: all ease-in-out 1s;
    }
  }
}

.footer__footer-content-icon:hover {
  background-color: rgba(241, 109, 127, 1);
  svg {
    path {
      fill: white;
    }
  }
}

.hidden {
  display: none;
}

@media (max-width: 1400px) {
  ._wrapper {
    max-width: 736px;
  }

  .header {
    min-height: 74px;
  }

  .section-header {
    max-width: 769px;
  }

  .main-img {
    max-width: 386px;
  }

  .title-h1 {
    font-size: 44px;
    line-height: 52.8px;
  }

  .sub-title-h1 {
    font-size: 24px;
    line-height: 28.8px;
  }

  .banner {
    grid-template-rows: 167px 116px;
    gap: 20px;
  }

  .products {
    margin-top: 109px;
  }

  .product-list {
    margin-top: 72px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .product-data {
    padding-top: 25.35px;
  }

  .product-sub-title {
    font-weight: 300;
  }

  .products-footer {
    margin-top: 32px;
  }

  .advantages__list {
    grid-template-columns: 360px;
    justify-content: center;
    padding-block: 48px;
  }

  .advantage-p {
    font-weight: 300;
  }

  .subscribe {
    height: 614px;
  }

  .subscribe__content {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .subscribe__content__form-subtitle {
    line-height: 29px;
  }
}
@media (max-width: 736px) {
  ._wrapper {
    max-width: 343px;
  }

  .user-menu,
  .shop-menu,
  .main-img {
    display: none;
  }

  .section-header {
    max-width: 343px;
    min-height: 363px;
  }

  .title-h1 {
    font-size: 38px;
    line-height: 45.6px;
  }

  .sub-title-h1 {
    font-size: 20px;
    line-height: 24px;
  }

  .banner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    gap: 32px;
  }

  .accessories {
    background-position: center;
  }

  .products {
    margin-top: 64px;
  }

  .product-list {
    margin-top: 64px;
    grid-template-columns: 1fr;
  }

  .product-sub-title {
    font-weight: 400;
  }

  .products-footer {
    margin-top: 40.61px;
  }

  .advantages__list {
    gap: 46px;
  }

  .subscribe {
    height: 550px;
  }

  .subscribe__content__cite-p {
    font-size: 18px;
  }

  .subscribe__content__form {
    gap: 22px;
  }

  .subscribe__content__form-subtitle {
    font-size: 14px;
    line-height: 21px;
  }

  .footer__footer {
    height: 143px;
  }

  .footer__footer-content {
    flex-direction: column-reverse;
    justify-content: end;
  }

  .footer__footer-content-desc {
    margin-top: 40px;
  }
}
