@import 'vars';

.main__header {
	background: rgb(248, 243, 244);
	padding: 60px;
	color: #636363;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
	}
}

.sub {
	&-title {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #9f9f9f;
	}
}

.product {
	padding-top: 96px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 128px;
	&__list {
		display: flex;
		flex-direction: column;
		gap: 40px;

		&__card {
			display: flex;
			gap: 31px;
			box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
			font-size: 22px;
			max-width: fit-content;

			&__img {
				max-width: unquote('min(20rem, 30%)');
			}

			&__data {
				margin-right: 26px;
				padding-top: 22px;
				min-width: max-content;
				display: flex;
				align-items: start;
				gap: 42px;
				max-width: min-content;

				&__wrap {
					display: flex;
					gap: 42px;
					flex-direction: column;
					max-width: 262px;
				}

				&__title {
					color: rgb(34, 34, 34);
					font-size: calc(1rem + 2px);
					font-weight: 400;
					line-height: 29px;
					word-break: keep-all;
				}

				&__metadata {
					color: rgb(87, 87, 87);
					font-size: 1rem;
					font-weight: 400;
					line-height: 26px;
					display: flex;
					flex-direction: column;
					gap: 6px;

					&__price {
						&__value {
							color: $currentColor;
						}
					}
					&__color {
						&__value {
							color: rgb(111, 110, 110);
						}
					}
					&__size {
						&__value {
							color: rgb(111, 110, 110);
						}
					}
					&__quantity {
						&__value {
							color: rgb(111, 110, 110);
							border: 1px solid #eaeaea;
							max-width: 44px;
							margin-left: 24px;
							-moz-appearance: textfield;
							appearance: textfield;
							text-align: center;

							&::-webkit-outer-spin-button,
							&::-webkit-inner-spin-button {
								-webkit-appearance: none;
								margin: 0;
							}
						}
					}
				}
			}

			&__close {
				padding: 6px;
				cursor: pointer;
				svg {
					width: 18px;
					height: 18px;
					fill: #575757;
				}
			}
		}
	}

	&__bay {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&__title {
			color: rgb(34, 34, 34);
			font-size: 16px;
			font-weight: 300;
			line-height: 19px;
		}

		&__input {
			border: 1px solid rgb(164, 164, 164);
			outline: none;
			padding: 13px 17px 16px;
		}

		&__btn {
			color: rgb(74, 74, 74);
			font-size: 11px;
			font-weight: 300;
			line-height: 13px;
			letter-spacing: 0%;
			background: rgb(255, 255, 255);
			border: 1px solid rgb(164, 164, 164);
			padding: 10px 15px 12px;
			transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
			max-width: fit-content;

			&:hover {
				background: rgb(74, 74, 74);
				color: #fff;
			}
		}
	}

	&__total-price {
		margin-top: 57px;
		text-align: end;
		padding: 39px 34px 42px 44px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		background: rgb(245, 243, 243);

		&__sub-total {
			color: rgb(74, 74, 74);
			font-size: 11px;
			font-weight: 400;
			line-height: 13px;
		}

		&__grand-total {
			color: rgb(74, 74, 74);
			font-size: 16px;
			font-weight: 300;
			line-height: 19px;
		}

		&__grand-total__value {
			color: $currentColor;
			font-weight: 700;
		}

		&__line {
			margin-block: 9px 5px;
			height: 1px;
			width: unquote('min(275px, 100%)');
			background: rgb(226, 226, 226);
		}

		&__btn {
			background: $currentColor;
			border: none;
			padding: 15px 40px;
			color: rgb(255, 255, 255);
			font-size: 16px;
			font-weight: 300;
			line-height: 19px;
			transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
			word-break: break-all;
			&:hover {
				background: #fff;
				color: $currentColor;
			}
		}
	}

	&__control {
		display: flex;
		justify-content: space-between;
		&__btn {
			color: rgb(0, 0, 0);
			font-size: 14px;
			font-weight: 300;
			line-height: 17px;
			border: 1px solid rgb(164, 164, 164);
			background: rgb(255, 255, 255);
			padding: 17px 40px;
			transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
			&:hover {
				background: rgb(164, 164, 164);
				color: #fff;
			}
		}
	}
}

h2.title {
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
	text-transform: capitalize;
}

h3.title {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
}

.price {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: $currentColor;
}

.advantage {
	&s {
		background: #222224;
		color: #fbfbfb;
		min-height: 341px;
		align-content: center;
		text-align: center;
		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
		}
	}

	&-p {
		font-size: 13.97px;
		font-weight: 400;
		line-height: 16.77px;
	}
}

.hidden {
	display: none;
}

@media (max-width: 1400px) {
	.section-header {
		gap: 39px;
		max-width: 769px;
	}

	.sub-title-h1 {
		font-size: 24px;
		line-height: 28.8px;
	}

	.product {
		grid-template-columns: repeat(1, 1fr);
		&__bay {
			&__wrap {
				gap: 15px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&__total-price {
			margin-top: 0;
		}

		&__control {
			grid-row: 2;
		}
	}
}

@media (max-width: 769px) {
	.main__header__wrapper {
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

	.section-header {
		max-width: 343px;
		min-height: 363px;
	}
	.product {
		grid-template-columns: repeat(1, 1fr);

		&__list {
			&__card {
				font-size: 14px;
				gap: 17px;

				&__data {
					padding-top: 13px;

					&__wrap {
						gap: 25px;
						max-width: 170px;
					}
				}

				&__close {
					gap: 31px;
				}
			}
		}

		&__bay {
			&__wrap {
				display: grid;
				grid-template-columns: repeat(1, 1fr);
			}
		}

		&__control {
			grid-row: 2;
			&__btn {
				font-size: 12px;
				padding: 9px 19px;
			}
		}
	}
}
