@import 'vars';

.main__header {
	background: rgb(248, 243, 244);
	padding: 60px;
	color: #636363;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
	}
}

.sub {
	&-title {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #9f9f9f;
	}

	&-card-title {
		font-size: 24px;
		font-weight: 700;
		line-height: 28.8px;
	}
}

.card {
	position: relative;
	align-content: center;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(33, 22, 22, 0.7);
		z-index: 1;
	}

	&-title {
		color: #ffffff;
		position: relative;
		z-index: 2;
		font-size: 16px;
		font-weight: 400;
		line-height: 19.2px;
		text-align: center;
		text-transform: uppercase;
	}

	&-img {
		position: relative;
		img {
			max-width: 100%;
		}
		&::before {
			content: '';
			position: absolute;
			background: #3a3838db;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: all ease-in-out 1s;
			opacity: 0;
		}

		&:hover {
			.card-img-btn {
				opacity: 1;
			}
		}
		&:hover::before {
			opacity: 0.7;
		}

		&-btn {
			position: absolute;
			display: flex;
			align-items: center;
			gap: 11px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: transparent;
			color: #fff;
			border: 1px solid white;
			padding: 16px 12px 14px 12px;
			opacity: 0;
			transition: all ease-in-out 1s;
			font-weight: 400;
			font-size: 14px;
			line-height: 18.8px;
			text-align: center;
		}
	}
}

.product {
	&s {
		text-align: center;
	}

	&-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	&-card {
		background: #f8f8f8;
	}

	&__sort {
		position: relative;
		display: flex;
		min-height: 134px;

		&__filter {
			&__details {
				position: absolute;
				top: calc(50% - 17px);
				left: 0;
				padding: 17px 13px;
				z-index: 1;

				&__summary {
					color: rgb(0, 0, 0);
					font-size: 14px;
					font-weight: 600;
					line-height: 17px;
					display: block;
					transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
					padding-bottom: 17px;

					&::-webkit-details-marker {
						display: none;
					}
					& > svg {
						transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;

						height: 0.7rem;
						margin-right: 11px;
					}
				}

				&[open] > &__summary {
					color: $currentColor;
					& > svg {
						fill: $currentColor;
					}
				}

				&[open] {
					background: #fff;
					box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
				}

				&__sidebar {
					display: flex;
					flex-direction: column;
					gap: 18px;

					&__details {
						&__summary {
							color: rgb(111, 110, 110);
							font-size: 14px;
							font-weight: 400;
							line-height: 17px;
							display: block;
							transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
							border-left: 5px solid $currentColor;
							border-bottom: 1px solid rgb(235, 235, 235);
							padding: 8px 11px 11px;

							&::-webkit-details-marker {
								display: none;
							}
						}

						&__options {
							display: flex;
							flex-direction: column;
							gap: 11px;
							padding: 17px 24px;
							&__option {
								text-decoration: none;
								color: rgb(111, 110, 110);
								font-size: 14px;
								font-weight: 400;
								line-height: 17px;
								&:hover {
									color: $currentColor;
								}
							}
						}

						&[open] > &__summary {
							color: $currentColor;
						}
					}
				}
			}
		}

		&__select {
			position: absolute;
			left: 390px;
			top: 50%;
			display: flex;
			gap: 28px;
			color: rgb(111, 110, 110);
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			z-index: 1;
			&__details {
				position: relative;

				&__summary {
					display: block;

					&::-webkit-details-marker {
						display: none;
					}

					&::after {
						content: '';
						display: inline-flex;
						background-image: url('../img/sort-product.svg');
						background-repeat: no-repeat;
						height: 0.5rem;
						width: 1rem;
					}
				}

				&__data {
					z-index: 1;
					position: absolute;
					display: flex;
					flex-direction: column;
					gap: 6px;
					top: 21px;
					right: -9px;
					min-width: 50px;
					box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
					background: #fff;
					padding: 9px;

					input {
						border: 1px solid rgb(235, 235, 235);
					}
				}
			}
		}
	}

	&-data {
		display: flex;
		flex-direction: column;
		gap: 32px;
		align-items: center;
		justify-content: center;
		padding: 23.35px 28.8px 20px 16.46px;
		text-align: start;
		border: 1px solid rgb(234, 234, 234);
		position: relative;
		background: #fff;
		top: -23px;
		max-width: fit-content;
		margin: 0 auto;
	}

	&__pagination {
		font-size: 16px;
		font-weight: 300;
		line-height: 19px;
		border: 1px solid rgb(235, 235, 235);
		padding: 16px 12px;
		display: flex;
		gap: 17px;
		justify-content: center;
		max-width: fit-content;
		margin: 0 auto;
		&__control {
			transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;

			&:hover {
				cursor: pointer;
				color: $currentColor;
			}
		}
		&__page {
			transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
			color: rgb(196, 196, 196);
			&:hover,
			&.currant {
				color: $currentColor;
				cursor: pointer;
			}
		}
	}
}

h2.title {
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
	text-transform: capitalize;
}

h3.title {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
}

.price {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: $currentColor;
}

.product {
	&s-footer {
		margin-top: 48px;
	}
	&-button {
		border: 1px solid $currentColor;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: $currentColor;
		padding: 15px 39px;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
	}
	&:hover {
		color: #ffffff;
		background: $currentColor;
		cursor: pointer;
	}
}

.advantage {
	&s {
		background: #222224;
		color: #fbfbfb;
		min-height: 341px;
		align-content: center;
		text-align: center;
		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
		}
	}

	&-p {
		font-size: 13.97px;
		font-weight: 400;
		line-height: 16.77px;
	}
}

.hidden {
	display: none;
}

@media (max-width: 1400px) {
	.section-header {
		gap: 39px;
		max-width: 769px;
	}

	.title-h1 {
		font-size: 44px;
		line-height: 52.8px;
	}

	.sub-title-h1 {
		font-size: 24px;
		line-height: 28.8px;
	}

	.banner {
		grid-template-rows: 167px 116px;
		gap: 20px;
	}

	.product {
		&s {
			&-footer {
				margin-top: 32px;
			}
		}

		&-list {
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}

		&-data {
			padding-top: 25.35px;
		}

		&__sort__select {
			left: auto;
			right: 0;
		}

		&-sub-title {
			font-weight: 300;
		}

		&-card {
			&:nth-last-child(1) {
				display: none;
			}
		}
	}

	.advantage {
		&s__list {
			grid-template-columns: 360px;
			justify-content: center;
			padding-block: 48px;
		}

		&-p {
			font-weight: 300;
		}
	}
}

@media (max-width: 736px) {
	.main__header__wrapper {
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

	.section-header {
		max-width: 343px;
		min-height: 363px;
	}

	.title-h1 {
		font-size: 38px;
		line-height: 45.6px;
	}

	.sub-title-h1 {
		font-size: 20px;
		line-height: 24px;
	}

	.banner {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 247px) 111px;
		gap: 32px;
	}

	.accessories {
		background-position: center;
	}

	.product {
		&s {
			&-footer {
				margin-top: 40.61px;
			}
		}

		&__sort__filter__details {
			&__summary {
				svg {
					transform: scaleY(1.5);
				}
				&__text {
					display: none;
				}
			}
		}

		&-list {
			grid-template-columns: 1fr;
		}

		&-sub-title {
			font-weight: 400;
		}

		&-card {
			&:nth-child(even) {
				display: none;
			}
			&:nth-child(odd) {
				display: block;
			}
		}
	}

	.advantages__list {
		gap: 46px;
	}
}
